# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
- Create a Jupyter Notebook with markdown and code cells
- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create a markdown cell with a table to list data science tools
- Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. Julia
7. MATLAB
8. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Seaborn
3. Pandas
4. scikit-learn
5. Matplotlib
6. TensorFlow
7. SciPy

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
hours = 200/60
print(hours)

3.3333333333333335

## Author
Carolina SÃ©tula